.contentEditorBox {
  border: 1px solid black;
  background-color: white;
  width: 400px;
  height: 220px; }

.draggable {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  cursor: pointer; }

.n-resize {
  position: absolute;
  top: -3px;
  left: 0px;
  width: 100%;
  height: 5px;
  cursor: n-resize; }

.e-resize {
  position: absolute;
  top: 0px;
  left: calc(100% - 2px);
  width: 5px;
  height: 100%;
  cursor: w-resize; }

.s-resize {
  position: absolute;
  top: calc(100% - 2px);
  left: 0px;
  width: 100%;
  height: 5px;
  cursor: s-resize; }

.w-resize {
  position: absolute;
  top: 0px;
  left: -3px;
  width: 5px;
  height: 100%;
  cursor: e-resize; }

.nw-resize {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 7px;
  height: 7px;
  cursor: nw-resize; }

.ne-resize {
  position: absolute;
  top: -3px;
  left: calc(100% - 4px);
  width: 7px;
  height: 7px;
  cursor: ne-resize; }

.se-resize {
  position: absolute;
  top: calc(100% - 4px);
  left: calc(100% - 4px);
  width: 7px;
  height: 7px;
  cursor: se-resize; }

.sw-resize {
  position: absolute;
  top: calc(100% - 4px);
  left: -3px;
  width: 7px;
  height: 7px;
  cursor: sw-resize; }
