{% extends "base.html" %}
{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='inspinia/css/plugins/footable/footable.core.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}

<section id="contact" class="gray-section contact ibox-content">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>Thank you for using our website! If you have found a bug, problem please contact:</p>
                
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">Peng Cao</span></strong><br/>
                    Ph.D Candidate<br/>
                    University of Delaware<br/>
                    Phone: (302) 415-5757 <br />
                    Email: sylarcp@udel.edu
                </address>
            </div>
            <div class="col-lg-4">
                <p class="m-t-sm text-center">
                    Or you can create an issue on github by clicking this link: <a href="https://github.com/sylarcp/anita/issues" target="_blank">https://github.com/sylarcp/anita/issues</a>  <br/>
                    Any details you can provide about the problem or bug will help contribute to our team creating a speedy fix. <br/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
            <a href="mailto:sylarcp@udel.edu" class="btn btn-primary">Send us mail</a>
            </div>
        </div>

               <!--  <p class="container">
                    To create an issue on github simply follow these five steps:<br/>
                    1. Make sure you are signed into github, if you have not created an account you should do so now.<br/>
                    2. Click on the link mentioned above which will bring you to the issues page for the website.<br/>
                    3. There should be a green button that says "New issue", click on it.<br/>
                    4. Create a write up of the problem with any relevent information you can think of.<br/>
                    5. Once you are finished, hit the green "Submit new issue" button and your work is done.<br/>
                </p> -->
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                        <p><strong>&copy; 2016 ANITA IV</strong><br/></p>
                    </div>
                </div>
            </div>
        </section>


        {% endblock %}
        {% block scripts %}
        {{ super() }}
        <script src="{{ url_for('static', filename='inspinia/js/plugins/footable/footable.all.min.js') }}"></script>
        <script src="{{ url_for('static', filename='inspinia/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
        <script src="{{ url_for('static', filename='anita/js/complex_array.js') }}"></script>
        <script src="{{ url_for('static', filename='anita/js/fft.js') }}"></script>


        <script>

            $(document).ready(function () {
                $('#connect').parent().parent().attr('style', 'display:none');
                $('#next').parent().parent().attr('style', 'display:none');
                $('#prev').parent().parent().attr('style', 'display:none');
                $('#first').parent().parent().attr('style', 'display:none');
                $('#last').parent().parent().attr('style', 'display:none');
                $('#checkbox').parent().parent().attr('style', 'display:none');
                $('#keywords').parent().parent().attr('style', 'display:none');
                $('#goto').parent().parent().attr('style', 'display:none');

            });
        </script>
            {% endblock %}