{% extends "base.html" %} {% block head %} {{ super() }}
<link href="{{ url_for('static', filename='inspinia/css/plugins/footable/footable.core.css') }}" rel="stylesheet"> {% endblock %} {% block page_content %}
<div class="wrapper wrapper-content">
    <div class="row">
        <!-- <button id='next' class="btn btn-primary"  type="button">Next event</button>
        <button id='prev' class="btn btn-primary"  type="button">Prev event</button> -->
        <div class="col-md-8 col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>hd</h5>
                    
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>


                <div class="ibox-content">
                    <table data-sort="false" class="footable" data-page-size="50" id='hd' style="width:100%">
                        <tbody>
                            <!-- <tr>
                                <td>index</td>
                                <td>
                                    <div>
                                        <input class="touchspin2" type="text" value="55" name="demo2">
                                    </div>
                                </td>   
                            </tr> -->
                            
                            <tr>
                                <td>index</td>
                                <td id = 'index'></td>
                                
                                <!-- <td >
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Recipient's username">
                                      <span class="input-group-addon" id="basic-addon2">@example.com</span>
                                    </div>
                                </td> -->
                            </tr>
                            <tr>
                            	<td>Crc</td>
                                <td id = 'crc'></td>
                            </tr>
                            <tr>
                                <td>evnum</td>
                                <td id='evnum'></td>
                            </tr>
                            <tr>
                                <td data-hide="xs">nbuf</td>
                                <td id='nbuf'></td>
                            </tr>
                            <tr>
                                <td>now</td>
                                <td id='now'></td>
                            </tr>
                            <tr>
                                <td>time</td>
                                <td id='time'></td>
                            </tr>
                            <tr>
                                <td>us</td>
                                <td id='us'></td>
                            </tr>
                            <tr>
                                <td>ns</td>
                                <td id='ns'></td>
                            </tr>
                            <tr>
                                <td>Run#</td>
                                <td id='runnum'></td>
                            </tr>

                            <tr>
                                <td>evid</td>
                                <td id='evid'></td>
                            </tr>
                            
                            <tr>
                                <td>priority</td>
                                <td id='priority'></td>
                            </tr>
                            <tr>
                                <td>trigtype</td>
                                <td id='trigtype'></td>
                            </tr>
                            <tr>
                                <td>trignum</td>
                                <td id='trignum'></td>
                            </tr>
                            <tr>
                                <td>trigtime</td>
                                <td id='trigtime'></td>
                            </tr>
                            <tr>
                                <td>l3cnt</td>
                                <td id='l3cnt'></td>
                            </tr>
                            <tr>
                                <td>pps</td>
                                <td id='pps'></td>
                            </tr>
                            <tr>
                                <td>deadtime</td>
                                <td id='deadtime'></td>
                            </tr>
                            <tr>
                                <td>turfword</td>
                                <td id='turfword'></td>
                            </tr>
                            <tr>
                                <td>calib</td>
                                <td id='calib'></td>
                            </tr>
                            <tr>
                                <td>phimask</td>
                                <td id='phimask'></td>
                            </tr>
                            <!-- <tr>
                                <td>phimaskh</td>
                                <td id='phimaskh'></td>
                            </tr> -->
                            <tr>
                                <td>l2mask</td>
                                <td id='l1mask'></td>
                            </tr>
                            <!-- <tr>
                                <td>l2maskh</td>
                                <td id='l1maskh'></td>
                            </tr> -->
                            <tr>
                                <td>l3trigpat</td>
                                <td id='l3trigpat'></td>
                            </tr>
                            <!-- <tr>
                                <td>l3trigpath</td>
                                <td id='l3trigpath'></td>
                            </tr> -->
                            <tr>
                                <td>peakthetabin</td>
                                <td id='peakthetabin'></td>
                            </tr>
                            <tr>
                                <td>imagepeak</td>
                                <td id='imagepeak'></td>
                            </tr>
                            <tr>
                                <td>coherentsumpeak</td>
                                <td id='coherentsumpeak'></td>
                            </tr>
                            <tr>
                                <td>prioritizerstuff</td>
                                <td id='prioritizerstuff'></td>
                            </tr>
                            <tr>
                                <td>c3po</td>
                                <td id='c3po'></td>
                            </tr>
                            <tr>
                                <td>peaktheta</td>
                                <td id='peaktheta'></td>
                            </tr>
                            <tr>
                                <td>peakphi</td>
                                <td id='peakphi'></td>
                            </tr>
                            <tr>
                                <td>peakpol</td>
                                <td id='peakpol'></td>
                            </tr>
                            <!-- <tr>
                                <td>event rate</td>
                                <td id='eventrate'></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <!--  <div id="dialog_wv" class='dialog_wv hide'>
    </div> -->
    <div id="dialog" class='hide'>
        <ul class="nav navbar-top-links">
            <span>Zoom Depth:</span>  <span id = 'zoomIndex'>1/1</span>
            <li><button type="button" id='reset' class="btn btn-success btn-xs">Reset</button> </li>
            <li><button type="button" id='undo' class="btn btn-success btn-xs">Undo</button> </li>
            <li><button type="button" id='redo' class="btn btn-success btn-xs">Redo</button> </li>
            <li><button type="button" id='1hour' class="btn btn-success btn-xs">1Hour</button> </li>
            <li><button type="button" id='6hours' class="btn btn-success btn-xs">6Hours</button> </li>
            <li><button type="button" id='24hours' class="btn btn-success btn-xs">24Hours</button> </li>
        </ul>
        <div id='chart1'></div>
        </br>
        <div class = 'row'>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Reference UTC</label>
                <input id="reference_time" placeholder="Enter your end time" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Length(s)</label>
                <input id="length" value="21600" placeholder="Enter the number of seconds" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            </br>
            <button id="request" type="button" class="btn btn-primary">Request</button>
        </div>
    </div>
    </div>
</div>
    {% endblock %} {% block scripts %} {{ super() }}
    <script src="{{ url_for('static', filename='inspinia/js/plugins/footable/footable.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='inspinia/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{ url_for('static', filename='anita/js/complex_array.js') }}"></script>
    <script src="{{ url_for('static', filename='anita/js/fft.js') }}"></script>
    <script>
    var hd_nbufs = [];
    var hd_evnums = [];
    var hd_times = [];
    var hd_nows = [];
    var i = 0;
    var currentData=null;
    var currentDatamV= null;
    var currentDataFFT= null;
    var currentDataPower= null;
    var datatype = 'mV';
    var dataview = 'Phi';
    var offset = 0;
  
   
    function resizeWindow() {
        $("canvas").each(function() {
            $(this).attr('style', 'width: 100%');
        });
    }

    function getPeakTheta (peakThetaBin) {
        return 150*(peakThetaBin/256 - 0.5);
    }

    function getPeakPhi (prioritizerstuff) {
        var phiInd2=(prioritizerstuff&0x7ff)>>1;
        var phiInd=(phiInd2&0x3f);
        var phiSector=(phiInd2>>6);
        var phiArrayDeg=[-45,-22.5,0,22.5,45,67.5,90,112.5,135,157.5,180,202.5,225,247.5,270,292.5,315,337.5,0,22.5,45,67.5,90,112.5,135,157.5,180,
                      202.5,225,247.5,270,292.5,315,337.5,
                      0,22.5,45,67.5,90,112.5,135,157.5,180,
                      202.5,225,247.5,270,292.5];

        return phiArrayDeg[phiSector] + 22.5*(phiInd/64 - 0.5);
    }

    function getPeakPol (prioritizerstuff) {
        // vertical : 1. horizontal : 0.
        return prioritizerstuff&0x1;
    }

    

    function updatehtml_hd(nbuf, avgOn = false) {
        if(!nbuf) return;
        $.getJSON('/api/' + ip_db + '/hd/' + nbuf, function(data) {
            $('#hd #index').val(i + 1 + " / " + hd_nbufs.length + "  ");
            $('#hd #crc').html(data.hd.crc);
            $('#hd #nbuf').html(data.hd.nbuf);
            $('#hd #now').html(data.hd.now + " (" + timeConverter(data.hd.now) + ")");
            $('#hd #time').html(data.hd.time + " (" + timeConverter(data.hd.time) + ")");
            $('#hd #us').html(data.hd.us);
            $('#hd #ns').html(data.hd.ns);
            $('#hd #evnum').html(data.hd.evnum);
            $('#hd #runnum').html((data.hd.evid&0xfff00000)>>20);
            $('#hd #evid').html((data.hd.evid&0x000fffff));
            $('#hd #priority').html(hexString(data.hd.priority));
            $('#hd #trigtype').html(data.hd.trigtype);
            $('#hd #trignum').html(data.hd.trignum);
            $('#hd #trigtime').html(data.hd.trigtime);
            $('#hd #l3cnt').html(data.hd.l3cnt);
            $('#hd #pps').html(data.hd.pps);
            $('#hd #deadtime').html(data.hd.deadtime);
            $('#hd #turfword').html(data.hd.turfword);
            $('#hd #calib').html(data.hd.calib);
            $('#hd #phimask').html(byteString(data.hd.phimask));
            // $('#hd #phimaskh').html(byteString(data.hd.phimaskh));
            $('#hd #l1mask').html(byteString(data.hd.l1mask));
            // $('#hd #l1maskh').html(byteString(data.hd.l1maskh));
            $('#hd #l3trigpat').html(byteString(data.hd.l3trigpat));
            // $('#hd #l3trigpath').html(byteString(data.hd.l3trigpath));
            $('#hd #peakthetabin').html(data.hd.peakthetabin);
            $('#hd #imagepeak').html(data.hd.imagepeak);
            $('#hd #coherentsumpeak').html(data.hd.coherentsumpeak);
            $('#hd #prioritizerstuff').html(data.hd.prioritizerstuff);
            $('#hd #c3po').html(data.hd.c3po);
            $('#hd #peaktheta').html(getPeakTheta(data.hd.peakthetabin));
            $('#hd #peakphi').html(getPeakPhi(data.hd.prioritizerstuff));
            $('#hd #peakpol').html(getPeakPol(data.hd.prioritizerstuff));

            l2maskv = data.hd.l2mask;
            l2maskh = data.hd.l2maskh;
        });
    }
    $(document).ready(function() {
        $('#navbar_hd').parent().addClass("active");
        $('#label_sync_checkbox').attr('style', 'display:none');
        $('#sync_checkbox').attr('style', 'display:none');
        // change the default to phi view, so hide the surfview.

        
        $(".touchspin2").TouchSpin({
            min: 0,
            max: 10000,
            boostat: 3,
            maxboostedstep: 200,
            prefix: 'Index',
            postfix: '116750',
            // verticalbuttons: true,
            // buttondown_class: 'btn btn-white',
            // buttonup_class: 'btn btn-white'
        });

        $.jqplot.config.enablePlugins = true;
        $("#hd td[id]").click(function() {
        var column_name = $(this).attr('id');
        var table_name = 'hd';
        var name = table_name + '_' + column_name;
        if (column_name == 'l1mask'){
        	name = 'hd_l2mask';
        }
        if (column_name == 'l1maskh'){
        	name = 'hd_l2maskh';
        }
        var showline = true;
        if (['trigtype', 'l1mask', 'l1maskh', 'l3trigpat', 'l3trigpath', 'phimask', 'phimaskh'].indexOf(column_name) > -1){
            showline = false;
        }
        
        // console.log($(this).attr('id'));
        // console.log($(this).closest('.ibox').attr('id'));
        if ($("#dialog_" + name).length) {
            $("#dialog_" + name).dialog('open');
            $("#dialog_" + name).find('input[id="reference_time"]').val(hd_nows[i]);
        } else {
            var $newDialog = $('#dialog').clone();
            $newDialog.attr('id', 'dialog_' + name);
            $newDialog.removeClass('hide');
            $newDialog.attr('title', name);
            $newDialog.prepend('<div id="' + "plot_" + name + '"  class="dialog_plot" ></div>');
            $newDialog.find('input[id="reference_time"]').val(hd_nows[i]);
            $newDialog.dialog({
                width: getCookie(name + "_width")?getCookie(name + "_width"):600,
                height: getCookie(name + "_height")?getCookie(name + "_height"):500,
                position: [getCookie(name + "_left")?parseInt(getCookie(name + "_left")):undefined, getCookie(name + "_top")?parseInt(getCookie(name + "_top")):undefined]
            });
            $newDialog.data('zoomStack', [[hd_nows[i], 21600]]);
            $newDialog.data('zoomStackIndex', 0);
            var line1 = [
            ['2008-09-30', 14]
            ];
            $("#plot_" + name).height(Math.max(100, $newDialog.height() - 120));
            var plot1 = $.jqplot('plot_' + name, [line1], {
                axes: {
                    xaxis: {
                        renderer: $.jqplot.DateAxisRenderer,
                        rendererOptions: {
                            tickRenderer: $.jqplot.CanvasAxisTickRenderer
                        },
                        tickOptions: {
                            // formatString: '%M:%S%#N ',
                            fontSize: '10pt',
                            fontFamily: 'Tahoma',
                        }
                    },
                    yaxis: {
                        rendererOptions: {
                            tickRenderer: $.jqplot.CanvasAxisTickRenderer
                        },
                        tickOptions: {
                            fontSize: '10pt',
                            fontFamily: 'Tahoma',
                        }
                    }
                },
                series: [
                    {
                        showLine: showline, 
                        lineWidth: .5,
                        rendererOptions: { smooth: false },
                        markerOptions: {
                            size: showline? 2 : 4,
                            shadow:false,   
                            color: 'blue' 
                        }
                    },
                    {
                        showLine: showline,
                        lineWidth: .5,
                        rendererOptions: { smooth: false },
                        markerOptions: {
                            size: 2,
                            shadow:false,
                            color: 'grey' 
                        }
                    }
                ],
                cursor: {
                    zoom: true,
                    looseZoom: true,
                    // showTooltip:true, 
                    followMouse: true,
                    showTooltipOutsideZoom: true,
                    constrainOutsideZoom: false
                }
            });
            $("#dialog_" + name).data('plot1', plot1);

            $newDialog.dialog({
                resize: function(event, ui) {
                    // $("#dialog_" + name).data('style', []);
                    $("#plot_" + name).height(Math.max(100, $newDialog.height() - 120));
                    plot1.replot({
                        resetAxes: true,
                    });
                    
                },
                resizeStop: function(event, ui) {
                    document.cookie = name + "_width=" + ui.size.width;
                    document.cookie = name + "_height=" + ui.size.height;
                },
                dragStop: function(event, ui) {
                    document.cookie = name + "_left=" + ui.position.left;
                    document.cookie = name + "_top=" + ui.position.top;
                }
            });
        }

        function replotTimeline (table_name, column_name, end_time, length) {
            $.getJSON('/api/' + ip_db + '/history/' + table_name + '/' + column_name + '/' + (end_time - length) + '/' + end_time, function(data) {
                // console.log(data);
                if (showline == false){
                    new_data1 = [];
                    new_data2 = [];
                    var step = 1;
                    if (data.data.length > 1000){
                        // step = data.data.length/5000;
                        step = Math.floor(data.data.length/1000);
                    }

                    for (var i = 0; i < data.data.length; i += step){
                        element = data.data[i]
                        for (var bit = 0; bit < 16; bit += 1){
                            if((element[1]>>bit) & 1){
                                new_data1.push([element[0] + timeZoneShift, bit]);
                            }else{
                                new_data2.push([element[0] + timeZoneShift, bit]);
                            }
                        }
                    }
                    datalist = [new_data1, new_data2];
                }else{
                    // datalist = [data.data];
                    new_data = [];
                    var step = 1;
                    if (data.data.length > 50000){
                        // step = data.data.length/5000;
                        step = Math.floor(data.data.length/5000);
                    }
                    if(column_name == 'peaktheta'){
                        for (var i =0; i< data.data.length; i += step){
                            element = data.data[i];
                            new_data.push([element[0] + timeZoneShift, getPeakTheta(element[1])]);
                        }
                    }else if(column_name == 'peakphi'){
                        for (var i =0; i< data.data.length; i += step){
                            element = data.data[i];
                            new_data.push([element[0] + timeZoneShift, getPeakPhi(element[1])]);
                        }
                    }else if(column_name == 'peakpol'){
                        for (var i =0; i< data.data.length; i += step){
                            element = data.data[i];
                            new_data.push([element[0] + timeZoneShift, getPeakPol(element[1])]);
                        }
                    }else{
                        for (var i =0; i< data.data.length; i += step){
                            element = data.data[i];
                            new_data.push([element[0] + timeZoneShift, element[1]]);
                        }
                    }
                    
                    // console.log(data.data.length);
                    datalist = [new_data];
                }
                // console.log(datalist);
                var plot1 = $("#dialog_" + name).data('plot1');
                plot1.replot({
                    data: datalist
                });
            });
        }

        $("#dialog_" + name).on('jqplotZoom', function(ev, gridpos, datapos, plot, cursor){
            end_time = parseInt((plot.axes.xaxis.max - timeZoneShift)/1000);
            length = end_time - parseInt((plot.axes.xaxis.min - timeZoneShift)/1000);
            $("#dialog_" + name).find('input[id="reference_time"]').val(end_time);
            $("#dialog_" + name).find('input[id="length"]').val(length);
            var new_index = $(this).data('zoomStackIndex') + 1;
            $(this).data('zoomStackIndex', new_index);
            var new_zoomStack = $(this).data('zoomStack').slice(0, new_index);
            new_zoomStack.push([end_time, length]);
            $(this).data('zoomStack', new_zoomStack);
            console.log(new_index + 1 + '/' + new_zoomStack.length);
            $("#dialog_" + name + " #zoomIndex").text(new_index + 1 + '/' + new_zoomStack.length);
        });

        $("#dialog_" + name + " #reset").click(function() {
            $("#dialog_" + name).data('zoomStackIndex', 0);
            $("#dialog_" + name).data('zoomStack', [[hd_nows[i], 21600]]);
            $("#dialog_" + name).find('input[id="reference_time"]').val(hd_nows[i]);
            $("#dialog_" + name).find('input[id="length"]').val(21600);
            $("#dialog_" + name).find('button[id="request"]').trigger("click");
            $("#dialog_" + name + " #zoomIndex").text('1/1');
        });
        

        $("#dialog_" + name + " #undo").click(function() {
            if ($("#dialog_" + name).data('zoomStack').length > 1){
                var index = $("#dialog_" + name).data('zoomStackIndex') - 1;
                if (index >= 0){
                    $("#dialog_" + name).data('zoomStackIndex', index);
                    var zoomStack = $("#dialog_" + name).data('zoomStack');
                    var zoom = zoomStack[index];
                    var end_time = zoom[0];
                    var length = zoom[1]
                    $("#dialog_" + name).find('input[id="reference_time"]').val(end_time);
                    $("#dialog_" + name).find('input[id="length"]').val(length);
                    $("#dialog_" + name).find('button[id="request"]').trigger("click");
                    $("#dialog_" + name + " #zoomIndex").text(index + 1 + '/' + zoomStack.length);
                }
            }
        });

        $("#dialog_" + name + " #redo").click(function() {
            var stack_length = $("#dialog_" + name).data('zoomStack').length;
            if ( stack_length > 0){
                var index = $("#dialog_" + name).data('zoomStackIndex') + 1;
                if (index < stack_length){
                    $("#dialog_" + name).data('zoomStackIndex', index);
                    var zoomStack = $("#dialog_" + name).data('zoomStack');
                    var zoom = zoomStack[index];
                    var end_time = zoom[0];
                    var length = zoom[1]
                    $("#dialog_" + name).find('input[id="reference_time"]').val(end_time);
                    $("#dialog_" + name).find('input[id="length"]').val(length);
                    $("#dialog_" + name).find('button[id="request"]').trigger("click");
                    $("#dialog_" + name + " #zoomIndex").text(index + 1 + '/' + zoomStack.length);
                }
            }
        });

        $("#dialog_" + name + " #1hour").click(function() {
            console.log('1hour');
            var stack_length = $("#dialog_" + name).data('zoomStack').length;
            if ( stack_length > 0){
                var index = $("#dialog_" + name).data('zoomStackIndex');

                var new_index = index + 1;
                $("#dialog_" + name).data('zoomStackIndex', new_index);
                var new_zoomStack = $("#dialog_" + name).data('zoomStack').slice(0, new_index);
                var end_time = new_zoomStack[index][0];
                var length = 3600;
                new_zoomStack.push([end_time, length])
                $("#dialog_" + name).data('zoomStack', new_zoomStack);
                $("#dialog_" + name).find('input[id="reference_time"]').val(end_time);
                $("#dialog_" + name).find('input[id="length"]').val(length);
                $("#dialog_" + name).find('button[id="request"]').trigger("click");
                $("#dialog_" + name + " #zoomIndex").text(new_index + 1 + '/' + new_zoomStack.length);
            }
        });

        $("#dialog_" + name + " #6hours").click(function() {
            console.log('1hour');
            var stack_length = $("#dialog_" + name).data('zoomStack').length;
            if ( stack_length > 0){
                var index = $("#dialog_" + name).data('zoomStackIndex');

                var new_index = index + 1;
                $("#dialog_" + name).data('zoomStackIndex', new_index);
                var new_zoomStack = $("#dialog_" + name).data('zoomStack').slice(0, new_index);
                var end_time = new_zoomStack[index][0];
                var length = 21600;
                new_zoomStack.push([end_time, length])
                $("#dialog_" + name).data('zoomStack', new_zoomStack);
                $("#dialog_" + name).find('input[id="reference_time"]').val(end_time);
                $("#dialog_" + name).find('input[id="length"]').val(length);
                $("#dialog_" + name).find('button[id="request"]').trigger("click");
                $("#dialog_" + name + " #zoomIndex").text(new_index + 1 + '/' + new_zoomStack.length);
            }
        });

        $("#dialog_" + name + " #24hours").click(function() {
            console.log('1hour');
            var stack_length = $("#dialog_" + name).data('zoomStack').length;
            if ( stack_length > 0){
                var index = $("#dialog_" + name).data('zoomStackIndex');

                var new_index = index + 1;
                $("#dialog_" + name).data('zoomStackIndex', new_index);
                var new_zoomStack = $("#dialog_" + name).data('zoomStack').slice(0, new_index);
                var end_time = new_zoomStack[index][0];
                var length = 86400;
                new_zoomStack.push([end_time, length])
                $("#dialog_" + name).data('zoomStack', new_zoomStack);
                $("#dialog_" + name).find('input[id="reference_time"]').val(end_time);
                $("#dialog_" + name).find('input[id="length"]').val(length);
                $("#dialog_" + name).find('button[id="request"]').trigger("click");
                $("#dialog_" + name + " #zoomIndex").text(new_index + 1 + '/' + new_zoomStack.length);
            }
        });

        // $("#dialog_" + name + " #1hour").click(function() {
        //     $("#dialog_" + name).find('input[id="length"]').val(3600);
        //     $("#dialog_" + name).find('button[id="request"]').trigger("click");
        // });
        // $("#dialog_" + name + " #6hours").click(function() {
        //     $("#dialog_" + name).find('input[id="length"]').val(21600);
        //     $("#dialog_" + name).find('button[id="request"]').trigger("click");
        // });
        // $("#dialog_" + name + " #24hours").click(function() {
        //     $("#dialog_" + name).find('input[id="length"]').val(86400);
        //     $("#dialog_" + name).find('button[id="request"]').trigger("click");
        // });

        $("#dialog_" + name).find('button[id="request"]').click(function() {
            console.log('click');
            var end_time = $("#dialog_" + name).find('input[id="reference_time"]').val();
            var length = $("#dialog_" + name).find('input[id="length"]').val();
            // console.log(end_time);
            // console.log(end_time - length);
            replotTimeline(table_name, column_name, end_time, length);
        });

        $("#dialog_" + name).find('button[id="request"]').trigger("click");
    });
        $('.footable').footable();
        
        var connected = false;
        var sleep_interval = 100 //by default, re-access the database every 2seconds to see if there are any new data comes in.

        $('.wv_range').change(function() {
            updatehtml_hd(hd_nbufs[i]);
        });


        $('#icheckForm').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $('input[value=mV]').iCheck('check');

        $('#icheckForm2').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $('input[value=Phi]').iCheck('check');

        

        function autoload(offset) {
            $.getJSON('/api/' + ip_db + '/hd/nbufs/' + offset, function(data) {
                // console.log('hd api');
                // console.log(data);
                
                new_length = data.hd_nbufs.length;
                offset += new_length;
                hd_nbufs = hd_nbufs.concat(data.hd_nbufs);
                hd_evnums = hd_evnums.concat(data.hd_evnums);
                hd_times = hd_times.concat(data.hd_times);
                hd_nows = hd_nows.concat(data.hd_nows);
                $('#hd #index').html(i + 1 + " / " + hd_nbufs.length + "  ");
                $('#connect').removeClass('connect').removeClass('btn-primary').addClass('btn-warning');
                $('#connect').html('Disconnect');
                $('.chosen-select').attr("disabled", true).trigger("chosen:updated");
                connected = true;
                $('#connect').value = 'Disconnect'
                connect.ladda('stop');
                // console.log(offset);
                
            }).done(function() {
                setTimeout(function() {
                    if (new_length) {
                        sleep_interval = 100;
                    } else {
                        sleep_interval = Math.min(sleep_interval * 1.2, 60000);
                    }
                    if (connected == true) {
                        autoload(offset);
                    }
                }, sleep_interval);
            });
        }
        function getEventRate() {
            $.getJSON('/api/' + ip_db + '/eventrate/' + '30', function(data) {
                    $('#eventrate').html(' Current Event Rate: ' + data.eventrate + 'Hz');
            });
        }


 


        var connect = $('.ladda-button').ladda();
        $('#connect').click(function() {
            var eventRateTimer ;
            offset = 0;
            hd_nbufs = [];
            hd_evnums = [];
            hd_times = [];
            hd_nows = [];
            i = 0;
            if ($(this).hasClass('connect')) {
                connect.ladda('start');
                $.ajax({
                    url: '/api/connect/' + ip + '/' + db
                }).done(function(response) {
                    if (response == 'success') {
                        console.log('succeed');
                        getEventRate();
                        eventRateTimer = setInterval(function(){ getEventRate() }, 10000);
                        autoload(0);
                        console.log('after autoload');
                        setTimeout(function(){
                            $('#first').click();
                        },1000);
                    } else {
                        connect.ladda('stop');
                        swal({
                            title: 'Database not found!',
                            type: "warning",
                            timer: 3000,
                            showConfirmButton: true
                        });
                    }
                });
            } else {
                //otherwise, stop all the requests.
                clearInterval(eventRateTimer);
                $('#connect').addClass('connect').addClass('btn-primary').removeClass('btn-warning');
                $('#connect').html('Connect');
                $('.chosen-select').attr("disabled", false).trigger("chosen:updated");
                connected = false;
            }

        });
        $('input').on('ifChecked', function(event) {
            if ($(this).attr('value') == 'mV' || $(this).attr('value') == 'FFT' || $(this).attr('value') == 'Power') {
                datatype = $(this).attr('value');
            } else if ($(this).attr('value') == 'Surf' || $(this).attr('value') == 'Phi') {
                dataview = $(this).attr('value');
                if (dataview == 'Surf') {
                    document.getElementById("surfview").style.display = "table";
                    document.getElementById("phiview").style.display = "none";
                } else if (dataview == 'Phi') {
                    document.getElementById("surfview").style.display = "none";
                    document.getElementById("phiview").style.display = "table";
                }
            }
            updatehtml_hd(hd_nbufs[i]);
        });

        $('#average_events').click(function() {
            updatehtml_hd(hd_nbufs[i], true)
        });

        $('#next').click(function() {
            if (i < hd_nbufs.length - 1) {
                i = i + 1;
                updatehtml_hd(hd_nbufs[i]);
            }; 
            sleep_interval = 100;
        });
        $('#prev').click(function() {
            if (i > 0) {
                i = i - 1;
                updatehtml_hd(hd_nbufs[i]);
            };
            sleep_interval = 100;
        });
        $('#first').click(function() {
            i = 0;
            updatehtml_hd(hd_nbufs[i]);
            sleep_interval = 100;
        });
        $('#last').click(function() {
            i = hd_nbufs.length - 1;
            updatehtml_hd(hd_nbufs[i]);
            sleep_interval = 100;
        });
        var auto_checkbox = $('#auto_checkbox')[0];
        var switchery = new Switchery(auto_checkbox, {
            color: '#1AB394'
        });
        var autoNext;
        auto_checkbox.onchange = function() {
            if (auto_checkbox.checked) {
                autoNext = setInterval(function() {
                    if (i < hd_nbufs.length - 1) {
                        i = i + 1;
                        updatehtml_hd(hd_nbufs[i]);
                    };
                }, 2000);
            } else {
                clearInterval(autoNext);
            };
        };


        $('#goto').click(function() {
            var keywords = parseInt($('#keywords').val());
            // console.log(keywords);
            var index = hd_evnums.indexOf(keywords);
            if (index != -1 && keywords) {
                i = index;
                // console.log(i);
                updatehtml_hd(hd_nbufs[i]);
                swal({  title: 'Matched hd are found!', type: "success", timer: 3000, showConfirmButton: true});
            } else {
                swal({
                    title: 'Data not found!',
                    type: "warning",
                    timer: 3000,
                    showConfirmButton: true
                });
            }
        });
    });
    </script>
    {% endblock %}