{% extends "base.html" %} {% block head %} {{ super() }}
<link href="{{ url_for('static', filename='inspinia/css/plugins/footable/footable.core.css') }}" rel="stylesheet"> {% endblock %} {% block page_content %}
<div class="wrapper wrapper-content">
    <div class="row">
        <!-- <div class="col-lg-12 clearfix">
    		<button id='next' class="btn btn-primary dim" style="float: right; margin-right:100px;" type="button">Next event</button>
    		<button id='prev' class="btn btn-primary dim" style="float: right" type="button">Prev event</button>
    	</div> -->
        <div class="col-lg-7">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class='row'>
                            <div class='col-lg-6'>
                                <h5>avgrfpow</h5>
                                <table data-sort="false" class="footable" data-page-size="20" id='avgrfpow' style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td>surf</td>
                                            <td>&nbsp 1</td>
                                            <td>&nbsp 2</td>
                                            <td>&nbsp 3</td>
                                            <td>&nbsp 4</td>
                                            <td>&nbsp 5</td>
                                            <td>&nbsp 6</td>
                                            <td>&nbsp 7</td>
                                            <td>&nbsp 8</td>
                                            <td>&nbsp 9</td>
                                            <td>10</td>
                                            <td>11</td>
                                            <td>12</td>
                                        </tr>
                                        <tr>
                                            <td>chan 1</td>
                                            <td id='avgrfpow-0-0'></td>
                                            <td id='avgrfpow-0-1'></td>
                                            <td id='avgrfpow-0-2'></td>
                                            <td id='avgrfpow-0-3'></td>
                                            <td id='avgrfpow-0-4'></td>
                                            <td id='avgrfpow-0-5'></td>
                                            <td id='avgrfpow-0-6'></td>
                                            <td id='avgrfpow-0-7'></td>
                                            <td id='avgrfpow-0-8'></td>
                                            <td id='avgrfpow-0-9'></td>
                                            <td id='avgrfpow-0-10'></td>
                                            <td id='avgrfpow-0-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 2</td>
                                            <td id='avgrfpow-1-0'></td>
                                            <td id='avgrfpow-1-1'></td>
                                            <td id='avgrfpow-1-2'></td>
                                            <td id='avgrfpow-1-3'></td>
                                            <td id='avgrfpow-1-4'></td>
                                            <td id='avgrfpow-1-5'></td>
                                            <td id='avgrfpow-1-6'></td>
                                            <td id='avgrfpow-1-7'></td>
                                            <td id='avgrfpow-1-8'></td>
                                            <td id='avgrfpow-1-9'></td>
                                            <td id='avgrfpow-1-10'></td>
                                            <td id='avgrfpow-1-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 3</td>
                                            <td id='avgrfpow-2-0'></td>
                                            <td id='avgrfpow-2-1'></td>
                                            <td id='avgrfpow-2-2'></td>
                                            <td id='avgrfpow-2-3'></td>
                                            <td id='avgrfpow-2-4'></td>
                                            <td id='avgrfpow-2-5'></td>
                                            <td id='avgrfpow-2-6'></td>
                                            <td id='avgrfpow-2-7'></td>
                                            <td id='avgrfpow-2-8'></td>
                                            <td id='avgrfpow-2-9'></td>
                                            <td id='avgrfpow-2-10'></td>
                                            <td id='avgrfpow-2-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 4</td>
                                            <td id='avgrfpow-3-0'></td>
                                            <td id='avgrfpow-3-1'></td>
                                            <td id='avgrfpow-3-2'></td>
                                            <td id='avgrfpow-3-3'></td>
                                            <td id='avgrfpow-3-4'></td>
                                            <td id='avgrfpow-3-5'></td>
                                            <td id='avgrfpow-3-6'></td>
                                            <td id='avgrfpow-3-7'></td>
                                            <td id='avgrfpow-3-8'></td>
                                            <td id='avgrfpow-3-9'></td>
                                            <td id='avgrfpow-3-10'></td>
                                            <td id='avgrfpow-3-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 5</td>
                                            <td id='avgrfpow-4-0'></td>
                                            <td id='avgrfpow-4-1'></td>
                                            <td id='avgrfpow-4-2'></td>
                                            <td id='avgrfpow-4-3'></td>
                                            <td id='avgrfpow-4-4'></td>
                                            <td id='avgrfpow-4-5'></td>
                                            <td id='avgrfpow-4-6'></td>
                                            <td id='avgrfpow-4-7'></td>
                                            <td id='avgrfpow-4-8'></td>
                                            <td id='avgrfpow-4-9'></td>
                                            <td id='avgrfpow-4-10'></td>
                                            <td id='avgrfpow-4-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 6</td>
                                            <td id='avgrfpow-5-0'></td>
                                            <td id='avgrfpow-5-1'></td>
                                            <td id='avgrfpow-5-2'></td>
                                            <td id='avgrfpow-5-3'></td>
                                            <td id='avgrfpow-5-4'></td>
                                            <td id='avgrfpow-5-5'></td>
                                            <td id='avgrfpow-5-6'></td>
                                            <td id='avgrfpow-5-7'></td>
                                            <td id='avgrfpow-5-8'></td>
                                            <td id='avgrfpow-5-9'></td>
                                            <td id='avgrfpow-5-10'></td>
                                            <td id='avgrfpow-5-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 7</td>
                                            <td id='avgrfpow-6-0'></td>
                                            <td id='avgrfpow-6-1'></td>
                                            <td id='avgrfpow-6-2'></td>
                                            <td id='avgrfpow-6-3'></td>
                                            <td id='avgrfpow-6-4'></td>
                                            <td id='avgrfpow-6-5'></td>
                                            <td id='avgrfpow-6-6'></td>
                                            <td id='avgrfpow-6-7'></td>
                                            <td id='avgrfpow-6-8'></td>
                                            <td id='avgrfpow-6-9'></td>
                                            <td id='avgrfpow-6-10'></td>
                                            <td id='avgrfpow-6-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 8</td>
                                            <td id='avgrfpow-7-0'></td>
                                            <td id='avgrfpow-7-1'></td>
                                            <td id='avgrfpow-7-2'></td>
                                            <td id='avgrfpow-7-3'></td>
                                            <td id='avgrfpow-7-4'></td>
                                            <td id='avgrfpow-7-5'></td>
                                            <td id='avgrfpow-7-6'></td>
                                            <td id='avgrfpow-7-7'></td>
                                            <td id='avgrfpow-7-8'></td>
                                            <td id='avgrfpow-7-9'></td>
                                            <td id='avgrfpow-7-10'></td>
                                            <td id='avgrfpow-7-11'></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class='col-lg-6'>
                                <h5>avgscaler</h5>
                                <table data-sort="false" class="footable" data-page-size="20" id='avgscaler' style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td>surf</td>
                                            <td>&nbsp 1</td>
                                            <td>&nbsp 2</td>
                                            <td>&nbsp 3</td>
                                            <td>&nbsp 4</td>
                                            <td>&nbsp 5</td>
                                            <td>&nbsp 6</td>
                                            <td>&nbsp 7</td>
                                            <td>&nbsp 8</td>
                                            <td>&nbsp 9</td>
                                            <td>10</td>
                                            <td>11</td>
                                            <td>12</td>
                                        </tr>
                                        <tr>
                                            <td>chan 1</td>
                                            <td id='avgscaler-0-0'></td>
                                            <td id='avgscaler-0-1'></td>
                                            <td id='avgscaler-0-2'></td>
                                            <td id='avgscaler-0-3'></td>
                                            <td id='avgscaler-0-4'></td>
                                            <td id='avgscaler-0-5'></td>
                                            <td id='avgscaler-0-6'></td>
                                            <td id='avgscaler-0-7'></td>
                                            <td id='avgscaler-0-8'></td>
                                            <td id='avgscaler-0-9'></td>
                                            <td id='avgscaler-0-10'></td>
                                            <td id='avgscaler-0-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 2</td>
                                            <td id='avgscaler-1-0'></td>
                                            <td id='avgscaler-1-1'></td>
                                            <td id='avgscaler-1-2'></td>
                                            <td id='avgscaler-1-3'></td>
                                            <td id='avgscaler-1-4'></td>
                                            <td id='avgscaler-1-5'></td>
                                            <td id='avgscaler-1-6'></td>
                                            <td id='avgscaler-1-7'></td>
                                            <td id='avgscaler-1-8'></td>
                                            <td id='avgscaler-1-9'></td>
                                            <td id='avgscaler-1-10'></td>
                                            <td id='avgscaler-1-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 3</td>
                                            <td id='avgscaler-2-0'></td>
                                            <td id='avgscaler-2-1'></td>
                                            <td id='avgscaler-2-2'></td>
                                            <td id='avgscaler-2-3'></td>
                                            <td id='avgscaler-2-4'></td>
                                            <td id='avgscaler-2-5'></td>
                                            <td id='avgscaler-2-6'></td>
                                            <td id='avgscaler-2-7'></td>
                                            <td id='avgscaler-2-8'></td>
                                            <td id='avgscaler-2-9'></td>
                                            <td id='avgscaler-2-10'></td>
                                            <td id='avgscaler-2-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 4</td>
                                            <td id='avgscaler-3-0'></td>
                                            <td id='avgscaler-3-1'></td>
                                            <td id='avgscaler-3-2'></td>
                                            <td id='avgscaler-3-3'></td>
                                            <td id='avgscaler-3-4'></td>
                                            <td id='avgscaler-3-5'></td>
                                            <td id='avgscaler-3-6'></td>
                                            <td id='avgscaler-3-7'></td>
                                            <td id='avgscaler-3-8'></td>
                                            <td id='avgscaler-3-9'></td>
                                            <td id='avgscaler-3-10'></td>
                                            <td id='avgscaler-3-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 5</td>
                                            <td id='avgscaler-4-0'></td>
                                            <td id='avgscaler-4-1'></td>
                                            <td id='avgscaler-4-2'></td>
                                            <td id='avgscaler-4-3'></td>
                                            <td id='avgscaler-4-4'></td>
                                            <td id='avgscaler-4-5'></td>
                                            <td id='avgscaler-4-6'></td>
                                            <td id='avgscaler-4-7'></td>
                                            <td id='avgscaler-4-8'></td>
                                            <td id='avgscaler-4-9'></td>
                                            <td id='avgscaler-4-10'></td>
                                            <td id='avgscaler-4-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 6</td>
                                            <td id='avgscaler-5-0'></td>
                                            <td id='avgscaler-5-1'></td>
                                            <td id='avgscaler-5-2'></td>
                                            <td id='avgscaler-5-3'></td>
                                            <td id='avgscaler-5-4'></td>
                                            <td id='avgscaler-5-5'></td>
                                            <td id='avgscaler-5-6'></td>
                                            <td id='avgscaler-5-7'></td>
                                            <td id='avgscaler-5-8'></td>
                                            <td id='avgscaler-5-9'></td>
                                            <td id='avgscaler-5-10'></td>
                                            <td id='avgscaler-5-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 7</td>
                                            <td id='avgscaler-6-0'></td>
                                            <td id='avgscaler-6-1'></td>
                                            <td id='avgscaler-6-2'></td>
                                            <td id='avgscaler-6-3'></td>
                                            <td id='avgscaler-6-4'></td>
                                            <td id='avgscaler-6-5'></td>
                                            <td id='avgscaler-6-6'></td>
                                            <td id='avgscaler-6-7'></td>
                                            <td id='avgscaler-6-8'></td>
                                            <td id='avgscaler-6-9'></td>
                                            <td id='avgscaler-6-10'></td>
                                            <td id='avgscaler-6-11'></td>
                                        </tr>
                                        <tr>
                                            <td>chan 8</td>
                                            <td id='avgscaler-7-0'></td>
                                            <td id='avgscaler-7-1'></td>
                                            <td id='avgscaler-7-2'></td>
                                            <td id='avgscaler-7-3'></td>
                                            <td id='avgscaler-7-4'></td>
                                            <td id='avgscaler-7-5'></td>
                                            <td id='avgscaler-7-6'></td>
                                            <td id='avgscaler-7-7'></td>
                                            <td id='avgscaler-7-8'></td>
                                            <td id='avgscaler-7-9'></td>
                                            <td id='avgscaler-7-10'></td>
                                            <td id='avgscaler-7-11'></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-5">
            <div class="col-xs-6 col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>slow</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table data-sort="false" class="footable" data-page-size="20" id='slow' style="width:100%">
                            <tbody>
                                <tr>
                                    <td>Index:</td>
                                    <td id='index'></td>
                                </tr>
                                <tr>
                                    <td>Crc</td>
                                    <td id='crc'></td>
                                </tr>
                                <tr>
                                    <td>time</td>
                                    <td id='time'></td>
                                </tr>
                                <tr>
                                    <td>now</td>
                                    <td id='now'></td>
                                </tr>
                                <tr>
                                    <td>evnum</td>
                                    <td id='evnum'></td>
                                </tr>
                                <tr>
                                    <td>latitude</td>
                                    <td id='latitude'></td>
                                </tr>
                                <tr>
                                    <td>longitude</td>
                                    <td id='longitude'></td>
                                </tr>
                                <tr>
                                    <td>altitude</td>
                                    <td id='altitude'></td>
                                </tr>
                                <tr>
                                    <td>EventRate 1min</td>
                                    <td id='rate1'></td>
                                </tr>
                                <tr>
                                    <td>EventRate 10min</td>
                                    <td id='rate10'></td>
                                </tr>
                                <tr>
                                    <td>PV (V)</td>
                                    <td id='ppvv'></td>
                                </tr>
                                <tr>
                                    <td>24 V</td>
                                    <td id='p24v'></td>
                                </tr>
                                <tr>
                                    <td>PV I</td>
                                    <td id='bati'></td>
                                </tr>
                                <tr>
                                    <td>24 I</td>
                                    <td id='p24i'></td>
                                </tr>
                                <tr>
                                    <td>sbs [C]</td>
                                    <td id='temp-0'></td>
                                </tr>
                                <tr>
                                    <td>surf [C]</td>
                                    <td id='temp-1'></td>
                                </tr>
                                <tr>
                                    <td>turf [C]</td>
                                    <td id='temp-2'></td>
                                </tr>
                                <tr>
                                    <td>rad [C]</td>
                                    <td id='temp-3'></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Extra Info</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table data-sort="false" class="footable" data-page-size="20" id='extra_info' style="width:100%">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td id='rate1'></td>
                                    <td id='rate10'></td>
                                    <td id='ppvv'></td>
                                    <td id='p24v'></td>
                                    <td id='bati'></td>
                                    <td id='p24i'></td>
                                    <td id='temp-0'></td>
                                    <td id='temp-1'></td>
                                    <td id='temp-2'></td>
                                    <td id='temp-3'></td>
                                </tr>
                                <tr>
                                    <td>Ev Rate[Hz]</td>
                                    <td>1min</td>
                                    <td>10min</td>
                                    <td>PV(V)</td>
                                    <td>24V</td>
                                    <td>PVI</td>
                                    <td>24I</td>
                                    <td>sbs[C]</td>
                                    <td>surf[C]</td>
                                    <td>turf[C]</td>
                                    <td>rad[C]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog" class='hide'>
    <ul class="nav navbar-top-links">
        <span>Zoom Depth:</span>  <span id = 'zoomIndex'>1/1</span>
        <li><button type="button" id='reset' class="btn btn-success btn-xs">Reset</button> </li>
        <li><button type="button" id='undo' class="btn btn-success btn-xs">Undo</button> </li>
        <li><button type="button" id='redo' class="btn btn-success btn-xs">Redo</button> </li>
        <li><button type="button" id='1hour' class="btn btn-success btn-xs">1Hour</button> </li>
        <li><button type="button" id='6hours' class="btn btn-success btn-xs">6Hours</button> </li>
        <li><button type="button" id='24hours' class="btn btn-success btn-xs">24Hours</button> </li>
    </ul>
    <div id='chart1'></div>
        </br>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Reference UTC</label>
                <input id="reference_time" placeholder="Enter your end time" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Length(s)</label>
                <input id="length" value="21600" placeholder="Enter the number of seconds" class="form-control">
            </div>
        </div>
        <div class="col-sm-3">
            </br>
            <button id="request" type="button" class="btn btn-primary">Request</button>
        </div>
    </div>
</div>
        {% endblock %} {% block scripts %} {{ super() }}
        <script src="{{ url_for('static', filename='inspinia/js/plugins/footable/footable.all.min.js') }}"></script>
        <script src="{{ url_for('static', filename='inspinia/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
        <script>
        var slow_nbufs = [];
        var slow_nows = [];
        var slow_times = [];
        var i = 0;
        var connected = false;
        var offset = 0;
        var sleep_interval = 2000 //by default, re-access the database every 2seconds to see if there are any new data comes in.
        var avgrfpow_range_map = $.range_map({
            '0:6600': 'blue',
            '6600:13300': 'green',
            '13300:25000:': 'red'
        })
        var avgscaler_range_map = $.range_map({
            '5:6': 'green',
            '6:7.5:': 'red',
            '4:5:': 'red'
        })
        var rate_range_map = $.range_map({
            '30:60': 'green',
            '20:30:': 'yelow',
            '60:70:': 'yellow'
        })
        var ppvv_range_map = $.range_map({
            '47:61': 'green'
        })

        var p24v_range_map = $.range_map({
            '23.6:30.6': 'green'
        })

        var bati_range_map = $.range_map({
            '7:11': 'green'
        })

        var p24i_range_map = $.range_map({
            '13.4:19': 'green'
        })

        var temperature_range_map = $.range_map({
            '-50:0': 'blue',
            '0:50:': 'green',
            '50:70:': 'yellow'
        })

        function update_avgscaler_data($selector, new_data) {
            var array_string = $selector.attr('values');
            array_string = new_data;
            // $selector.attr('values', [1,1.5,4.5,6]).sparkline('html', {
            $selector.attr('values', array_string).sparkline('html', {
                type: 'bar',
                barWidth: 10,
                height : 90,
                // zeroAxis: false,
                colorMap: avgscaler_range_map,
                chartRangeMin: 0,
                chartRangeMax: 8
            });
        }

        function update_rate1_data($selector, new_data) {
            var array_string = $selector.attr('values');
            array_string = new_data;
            // $selector.attr('values', [1,1.5,4.5,6]).sparkline('html', {
            $selector.attr('values', array_string).sparkline('html', {
                type: 'bar',
                barWidth: 10,
                height : 90,
                // zeroAxis: false,
                colorMap: rate_range_map,
                chartRangeMin: 0,
                chartRangeMax: 100
            });
        }

        function update_rate10_data($selector, new_data) {
            var array_string = $selector.attr('values');
            array_string = new_data;
            // $selector.attr('values', [1,1.5,4.5,6]).sparkline('html', {
            $selector.attr('values', array_string).sparkline('html', {
                type: 'bar',
                barWidth: 10,
                height : 90,
                // zeroAxis: false,
                colorMap: rate_range_map,
                chartRangeMin: 0,
                chartRangeMax: 100
            });
        }

        function update_ppvv_data($selector, new_data) {
            var array_string = $selector.attr('values');
            array_string = new_data;
            // $selector.attr('values', [1,1.5,4.5,6]).sparkline('html', {
            $selector.attr('values', array_string).sparkline('html', {
                type: 'bar',
                barWidth: 10,
                height : 90,
                // zeroAxis: false,
                colorMap: ppvv_range_map,
                chartRangeMin: 0,
                chartRangeMax: 75
            });
        }

        function update_p24v_data($selector, new_data) {
            var array_string = $selector.attr('values');
            array_string = new_data;
            // $selector.attr('values', [1,1.5,4.5,6]).sparkline('html', {
            $selector.attr('values', array_string).sparkline('html', {
                type: 'bar',
                barWidth: 10,
                height : 90,
                // zeroAxis: false,
                colorMap: p24v_range_map,
                chartRangeMin: 0,
                chartRangeMax: 75
            });
        }

        function update_bati_data($selector, new_data) {
            var array_string = $selector.attr('values');
            array_string = new_data;
            // $selector.attr('values', [1,1.5,4.5,6]).sparkline('html', {
            $selector.attr('values', array_string).sparkline('html', {
                type: 'bar',
                barWidth: 10,
                height : 90,
                // zeroAxis: false,
                colorMap: bati_range_map,
                chartRangeMin: 0,
                chartRangeMax: 30
            });
        }

        function update_p24i_data($selector, new_data) {
            var array_string = $selector.attr('values');
            array_string = new_data;
            // $selector.attr('values', [1,1.5,4.5,6]).sparkline('html', {
            $selector.attr('values', array_string).sparkline('html', {
                type: 'bar',
                barWidth: 10,
                height : 90,
                // zeroAxis: false,
                colorMap: p24i_range_map,
                chartRangeMin: 0,
                chartRangeMax: 30
            });
        }

        function update_temp_data($selector, new_data) {
            var array_string = $selector.attr('values');
            array_string = new_data;
            // $selector.attr('values', [1,1.5,4.5,6]).sparkline('html', {
            $selector.attr('values', array_string).sparkline('html', {
                type: 'bar',
                barWidth: 10,
                height : 90,
                zeroAxis: false,
                colorMap: temperature_range_map,
                chartRangeMin: -80,
                chartRangeMax: 80
            });
        }

        function update_avgrfpow_data($selector, new_data) {
            var array_string = $selector.attr('values');
            array_string = new_data;
            // $selector.attr('values', [1,1.5,4.5,6]).sparkline('html', {
            $selector.attr('values', array_string).sparkline('html', {
                type: 'bar',
                barWidth: 10,
                height : 90,
                colorMap: avgrfpow_range_map,
                chartRangeMin: 0,
                chartRangeMax: 25000
            });
        }

        function updatehtml(slow_times) {
            if (!slow_times) return;
            $.getJSON('/api/' + ip_db + '/slow/' + slow_times, function(data) {
                $('#slow #index').html(i + 1 + "/" + slow_nbufs.length);
                $('#slow #crc').html(data.slow.crc);
                $('#slow #now').html(data.slow.now + " (" + timeConverter(data.slow.now) + ")");
                $('#slow #time').html(data.slow.time + " (" + timeConverter(data.slow.time) + ")");
                $('#slow #evnum').html(data.slow.evnum);
                $('#slow #latitude').html(data.slow.latitude);
                $('#slow #longitude').html(data.slow.longitude);
                $('#slow #altitude').html(data.slow.altitude);
                $('#slow #rate1').html(0.5 * data.slow.rate1);
                $('#slow #rate10').html(0.5 * data.slow.rate10);
                $('#slow #ppvv').html(data.slow.ppvv);
                $('#slow #p24v').html(data.slow.p24v);
                $('#slow #bati').html(data.slow.bati);
                $('#slow #p24i').html(data.slow.p24i);
                $('#slow #temp-0').html(data.slow.temp[0]);
                $('#slow #temp-1').html(data.slow.temp[1]);
                $('#slow #temp-2').html(data.slow.temp[2]);
                $('#slow #temp-3').html(data.slow.temp[3]);


                var avgrfpow_name;
                for (var ii = 0; ii < 8; ii++) {
                    for (var jj = 0; jj < 12; jj++) {
                        avgrfpow_name = '#avgrfpow-' + ii + '-' + jj;
                        update_avgrfpow_data($(avgrfpow_name), parseInt(data.slow.avgrfpow[jj][ii]));
                    }
                }

                var avgscaler_name;
                for (var ii = 0; ii < 8; ii++) {
                    for (var jj = 0; jj < 12; jj++) {
                        avgscaler_name = '#avgscaler-' + ii + '-' + jj;
                        update_avgscaler_data($(avgscaler_name), Math.log(1 + parseInt(data.slow.avgscaler[ii][jj])));
                    }
                }

                rate1_name = '#extra_info #rate1';
                update_rate1_data($(rate1_name), parseInt(0.5*data.slow.rate1));

                rate10_name = '#extra_info #rate10';
                update_rate10_data($(rate10_name), parseInt(0.5*data.slow.rate10));

                ppvv_name = '#extra_info #ppvv';
                update_ppvv_data($(ppvv_name), parseInt(data.slow.ppvv));

                p24v_name = '#extra_info #p24v';
                update_p24v_data($(p24v_name), parseInt(data.slow.p24v));

                bati_name = '#extra_info #bati';
                update_bati_data($(bati_name), parseInt(data.slow.bati));

                p24i_name = '#extra_info #p24i';
                update_p24i_data($(p24i_name), parseInt(data.slow.p24i));

                for (var ii = 0; ii < 4; ii++) {
                    temp_name = '#extra_info #temp-' + ii;
                    update_temp_data($(temp_name), parseInt(data.slow.temp[ii]));
                }
            });
        }

$(document).ready(function() {
    $('#navbar_slow').parent().addClass("active");
    $.jqplot.config.enablePlugins = true;
    $("td[id]").click(function() {
        var column_name = $(this).attr('id');
        var table_name = 'slow';
        var name = table_name + '_' + column_name;
        // console.log($(this).attr('id'));
        // console.log($(this).closest('.ibox').attr('id'));
        if ($("#dialog_" + name).length) {
            $("#dialog_" + name).dialog('open');
            $("#dialog_" + name).find('input[id="reference_time"]').val(slow_nows[i]);
        } else {
            var $newDialog = $('#dialog').clone();
            $newDialog.attr('id', 'dialog_' + name);
            $newDialog.removeClass('hide');
            $newDialog.attr('title', name);
            $newDialog.prepend('<div id="' + "plot_" + name + '" class="dialog_plot" ></div>');
            $newDialog.find('input[id="reference_time"]').val(slow_nows[i]);
            $newDialog.dialog({
                width: 600,
                height: 500,
            });
            $newDialog.data('zoomStack', [[slow_nows[i], 21600]]);
            $newDialog.data('zoomStackIndex', 0);
            var line1 = [
            ['2008-09-30', 14]
            ];
            var plot1 = $.jqplot('plot_' + name, [line1], {
                title: 'double click to reset the zoom',
                axes: {
                    xaxis: {
                        renderer: $.jqplot.DateAxisRenderer,
                        rendererOptions: {
                            tickRenderer: $.jqplot.CanvasAxisTickRenderer
                        },
                        tickOptions: {
                            // formatString: '%M:%S%#N ',
                            fontSize: '10pt',
                            fontFamily: 'Tahoma',
                        }
                    },
                    yaxis: {
                        rendererOptions: {
                            tickRenderer: $.jqplot.CanvasAxisTickRenderer
                        },
                        tickOptions: {
                            fontSize: '10pt',
                            fontFamily: 'Tahoma',
                        }
                    }
                },
                series: [{
                    lineWidth: .5,
                    markerOptions: {
                        size: 2,
                        color: 'blue' 
                    }
                }],
                cursor: {
                    zoom: true,
                    looseZoom: true,
                    // showTooltip:true, 
                    followMouse: true,
                    showTooltipOutsideZoom: true,
                    constrainOutsideZoom: false
                }
            });

            $newDialog.dialog({
                resize: function(event, ui) {
                    $("#plot_" + name).height(Math.max(100, $newDialog.height() - 120));
                    plot1.replot({
                        resetAxes: true,
                    });
                }
            });
        }

        $("#dialog_" + name).on('jqplotZoom', function(ev, gridpos, datapos, plot, cursor){
            end_time = parseInt((plot.axes.xaxis.max - timeZoneShift)/1000);
            length = end_time - parseInt((plot.axes.xaxis.min - timeZoneShift)/1000);
            $("#dialog_" + name).find('input[id="reference_time"]').val(end_time);
            $("#dialog_" + name).find('input[id="length"]').val(length);
            var new_index = $(this).data('zoomStackIndex') + 1;
            $(this).data('zoomStackIndex', new_index);
            var new_zoomStack = $(this).data('zoomStack').slice(0, new_index);
            new_zoomStack.push([end_time, length]);
            $(this).data('zoomStack', new_zoomStack);
            console.log(new_index + 1 + '/' + new_zoomStack.length);
            $("#dialog_" + name + " #zoomIndex").text(new_index + 1 + '/' + new_zoomStack.length);
        });

        $("#dialog_" + name + " #reset").click(function() {
            $("#dialog_" + name).data('zoomStackIndex', 0);
            $("#dialog_" + name).data('zoomStack', [[slow_nows[i], 21600]]);
            $("#dialog_" + name).find('input[id="reference_time"]').val(slow_nows[i]);
            $("#dialog_" + name).find('input[id="length"]').val(21600);
            $("#dialog_" + name).find('button[id="request"]').trigger("click");
            $("#dialog_" + name + " #zoomIndex").text('1/1');
        });
        

        $("#dialog_" + name + " #undo").click(function() {
            if ($("#dialog_" + name).data('zoomStack').length > 1){
                var index = $("#dialog_" + name).data('zoomStackIndex') - 1;
                if (index >= 0){
                    $("#dialog_" + name).data('zoomStackIndex', index);
                    var zoomStack = $("#dialog_" + name).data('zoomStack');
                    var zoom = zoomStack[index];
                    var end_time = zoom[0];
                    var length = zoom[1]
                    $("#dialog_" + name).find('input[id="reference_time"]').val(end_time);
                    $("#dialog_" + name).find('input[id="length"]').val(length);
                    $("#dialog_" + name).find('button[id="request"]').trigger("click");
                    $("#dialog_" + name + " #zoomIndex").text(index + 1 + '/' + zoomStack.length);
                }
            }
        });

        $("#dialog_" + name + " #redo").click(function() {
            var stack_length = $("#dialog_" + name).data('zoomStack').length;
            if ( stack_length > 0){
                var index = $("#dialog_" + name).data('zoomStackIndex') + 1;
                if (index < stack_length){
                    $("#dialog_" + name).data('zoomStackIndex', index);
                    var zoomStack = $("#dialog_" + name).data('zoomStack');
                    var zoom = zoomStack[index];
                    var end_time = zoom[0];
                    var length = zoom[1]
                    $("#dialog_" + name).find('input[id="reference_time"]').val(end_time);
                    $("#dialog_" + name).find('input[id="length"]').val(length);
                    $("#dialog_" + name).find('button[id="request"]').trigger("click");
                    $("#dialog_" + name + " #zoomIndex").text(index + 1 + '/' + zoomStack.length);
                }
            }
        });

        $("#dialog_" + name + " #1hour").click(function() {
            console.log('1hour');
            var stack_length = $("#dialog_" + name).data('zoomStack').length;
            if ( stack_length > 0){
                var index = $("#dialog_" + name).data('zoomStackIndex');

                var new_index = index + 1;
                $("#dialog_" + name).data('zoomStackIndex', new_index);
                var new_zoomStack = $("#dialog_" + name).data('zoomStack').slice(0, new_index);
                var end_time = new_zoomStack[index][0];
                var length = 3600;
                new_zoomStack.push([end_time, length])
                $("#dialog_" + name).data('zoomStack', new_zoomStack);
                $("#dialog_" + name).find('input[id="reference_time"]').val(end_time);
                $("#dialog_" + name).find('input[id="length"]').val(length);
                $("#dialog_" + name).find('button[id="request"]').trigger("click");
                $("#dialog_" + name + " #zoomIndex").text(new_index + 1 + '/' + new_zoomStack.length);
            }
        });

        $("#dialog_" + name + " #6hours").click(function() {
            console.log('1hour');
            var stack_length = $("#dialog_" + name).data('zoomStack').length;
            if ( stack_length > 0){
                var index = $("#dialog_" + name).data('zoomStackIndex');

                var new_index = index + 1;
                $("#dialog_" + name).data('zoomStackIndex', new_index);
                var new_zoomStack = $("#dialog_" + name).data('zoomStack').slice(0, new_index);
                var end_time = new_zoomStack[index][0];
                var length = 21600;
                new_zoomStack.push([end_time, length])
                $("#dialog_" + name).data('zoomStack', new_zoomStack);
                $("#dialog_" + name).find('input[id="reference_time"]').val(end_time);
                $("#dialog_" + name).find('input[id="length"]').val(length);
                $("#dialog_" + name).find('button[id="request"]').trigger("click");
                $("#dialog_" + name + " #zoomIndex").text(new_index + 1 + '/' + new_zoomStack.length);
            }
        });

        $("#dialog_" + name + " #24hours").click(function() {
            console.log('1hour');
            var stack_length = $("#dialog_" + name).data('zoomStack').length;
            if ( stack_length > 0){
                var index = $("#dialog_" + name).data('zoomStackIndex');

                var new_index = index + 1;
                $("#dialog_" + name).data('zoomStackIndex', new_index);
                var new_zoomStack = $("#dialog_" + name).data('zoomStack').slice(0, new_index);
                var end_time = new_zoomStack[index][0];
                var length = 86400;
                new_zoomStack.push([end_time, length])
                $("#dialog_" + name).data('zoomStack', new_zoomStack);
                $("#dialog_" + name).find('input[id="reference_time"]').val(end_time);
                $("#dialog_" + name).find('input[id="length"]').val(length);
                $("#dialog_" + name).find('button[id="request"]').trigger("click");
                $("#dialog_" + name + " #zoomIndex").text(new_index + 1 + '/' + new_zoomStack.length);
            }
        });

        $("#dialog_" + name).find('button[id="request"]').click(function() {
            console.log('click');
            var end_time = $newDialog.find('input[id="reference_time"]').val();
            var length = $newDialog.find('input[id="length"]').val();
            // console.log(end_time);
            // console.log(end_time - length);
            $.getJSON('/api/' + ip_db + '/history/' + 'slow' + '/' + column_name + '/' + (end_time - length) + '/' + end_time, function(data) {
                new_data = [];
                for (var i =0; i< data.data.length; i += 1){
                    element = data.data[i];
                    new_data.push([element[0] + timeZoneShift, element[1]]);
                }
                datalist = [new_data];
                plot1.replot({
                    data: datalist
                });
            });
        });

        $("#dialog_" + name).find('button[id="request"]').trigger("click");
    });
            
    $('#label_sync_checkbox').attr('style', 'display:none');
    $('#sync_checkbox').attr('style', 'display:none');
    $('.footable').footable();
    
        // $.getJSON('/api/' + ip_db + '/slow/times', function(data){
        // 	slow_nbufs=data.slow_nbufs;
        // 	slow_nows=data.slow_nows;
        // 	slow_times=data.slow_times;
        // });
    function autoload() {
        $.getJSON('/api/' + ip_db + '/slow/times/' + offset, function(data) {
            new_length = data.slow_times.length;
            offset += new_length;
            slow_nbufs = slow_nbufs.concat(data.slow_nbufs);
            slow_nows = slow_nows.concat(data.slow_nows);
            slow_times = slow_times.concat(data.slow_times);
            $('#slow #index').html(i + 1 + " / " + slow_nbufs.length + "  ");
            $('#connect').removeClass('connect').removeClass('btn-primary').addClass('btn-warning');
            $('#connect').html('Disconnect');
            $('.chosen-select').attr("disabled", true).trigger("chosen:updated");
            // switchery.enable();
            connected = true;
            connect.ladda('stop');
        }).done(function() {
            setTimeout(function() {
                if (new_length) {
                    sleep_interval = 100;
                } else {
                    sleep_interval = Math.min(sleep_interval * 1.2, 60000);
                }
                if (connected == true) {
                    autoload();
                }
            }, sleep_interval);

        });
    }
    var connect = $('.ladda-button').ladda();
    $('#connect').click(function() {
        if ($(this).hasClass('connect')) {
            slow_nbufs = [];
            slow_nows = [];
            slow_times = [];
            i = 0;
            offset = 0;
            connect.ladda('start');
            $.ajax({
                url: '/api/connect/' + ip + '/' + db
            }).done(function(response) {
                if (response == 'success') {
                    autoload();
                    setTimeout(function(){
        			        $('#first').click();
        		        },1000);
                } else {
                    connect.ladda('stop');
                    swal({
                        title: 'Database not found!',
                        type: "warning",
                        timer: 3000,
                        showConfirmButton: true
                    });
                }
            });
        } else {
            slow_nbufs = [];
            slow_nows = [];
            slow_times = [];
            i = 0;
            offset = 0;
            //otherwise, stop all the requests.
            $('#connect').addClass('connect').addClass('btn-primary').removeClass('btn-warning');
            $('#connect').html('Connect');
            $('.chosen-select').attr("disabled", false).trigger("chosen:updated");
            // if (switchery.isChecked()){
            // 	$('.switchery').click();
            // };
            // switchery.disable();				
            connected = false;
        }
    });


    $('#next').click(function() {
        if (i < slow_times.length - 1) {
            i = i + 1;
            updatehtml(slow_times[i]);
        };
    });
    $('#prev').click(function() {
        if (i > 0) {
            i = i - 1;
            updatehtml(slow_times[i]);
        };
    });
    $('#first').click(function() {
        i = 0;
        updatehtml(slow_times[i]);
    });
    $('#last').click(function() {
        i = slow_times.length - 1;
        updatehtml(slow_times[i]);
    });
    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, {
        color: '#1AB394'
    });
    // switchery.disable();
    var myInterval;
    elem.onchange = function() {
        console.log("working!!!!!!");
        if (elem.checked) {
            myInterval = setInterval(function() {
                if (i < slow_times.length - 1) {
                    i = i + 1;
                    updatehtml(slow_times[i]);
                };
            }, 1000);
        } else {
            clearInterval(myInterval);
        };
    };
    $('#goto').click(function() {
        var keywords = parseInt($('#keywords').val());
        console.log(keywords);
        var index = slow_times.indexOf(keywords);
        if (index != -1 && keywords) {
            i = index;
            console.log(i);
            updatehtml(slow_times[i]);
        } else {
            swal({
                title: 'Data not found!',
                type: "warning",
                timer: 3000,
                showConfirmButton: true
            });
        }

    });
});
</script>
{% endblock %}