{% extends "base.html" %}
{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='inspinia/css/plugins/footable/footable.core.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<div class="wrapper wrapper-content">
        	
    <div class="row">
    	
        
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>rfpower</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                	</div>
                </div>
                <div class="ibox-content" >
                    <table data-sort="false" class="footable" data-page-size="20" id='rfpower' style="width:100%">

				  		<tbody>
				  		<th>
								<td>surf 1</td>
								<td>surf 2</td>
								<td>surf 3</td>
								<td>surf 4</td>
								<td>surf 5</td>
								<td>surf 6</td>
								<td>surf 7</td>
								<td>surf 8</td>
								<td>surf 9</td>
								<td>surf 10</td>
								<td>surf 11</td>
								<td>surf 12</td>
								
							</th>		
				  			
							<tr>
								<td>turf 1</td>
								<td id='rfpower_0_0'></td>
								<td id='rfpower_0_1'></td>
								<td id='rfpower_0_2'></td>
								<td id='rfpower_0_3'></td>
								<td id='rfpower_0_4'></td>
								<td id='rfpower_0_5'></td>
								<td id='rfpower_0_6'></td>
								<td id='rfpower_0_7'></td>
								<td id='rfpower_0_8'></td>
								<td id='rfpower_0_9'></td>
								<td id='rfpower_0_10'></td>
								<td id='rfpower_0_11'></td>
							</tr>
							<tr>
								<td>turf 2</td>
								<td id='rfpower_1_0'></td>
								<td id='rfpower_1_1'></td>
								<td id='rfpower_1_2'></td>
								<td id='rfpower_1_3'></td>
								<td id='rfpower_1_4'></td>
								<td id='rfpower_1_5'></td>
								<td id='rfpower_1_6'></td>
								<td id='rfpower_1_7'></td>
								<td id='rfpower_1_8'></td>
								<td id='rfpower_1_9'></td>
								<td id='rfpower_1_10'></td>
								<td id='rfpower_1_11'></td>
							</tr>
							<tr>
								<td>turf 3</td>
								<td id='rfpower_2_0'></td>
								<td id='rfpower_2_1'></td>
								<td id='rfpower_2_2'></td>
								<td id='rfpower_2_3'></td>
								<td id='rfpower_2_4'></td>
								<td id='rfpower_2_5'></td>
								<td id='rfpower_2_6'></td>
								<td id='rfpower_2_7'></td>
								<td id='rfpower_2_8'></td>
								<td id='rfpower_2_9'></td>
								<td id='rfpower_2_10'></td>
								<td id='rfpower_2_11'></td>
							</tr>
							<tr>
								<td>turf 4</td>
								<td id='rfpower_3_0'></td>
								<td id='rfpower_3_1'></td>
								<td id='rfpower_3_2'></td>
								<td id='rfpower_3_3'></td>
								<td id='rfpower_3_4'></td>
								<td id='rfpower_3_5'></td>
								<td id='rfpower_3_6'></td>
								<td id='rfpower_3_7'></td>
								<td id='rfpower_3_8'></td>
								<td id='rfpower_3_9'></td>
								<td id='rfpower_3_10'></td>
								<td id='rfpower_3_11'></td>
							</tr>
							<tr>
								<td>turf 5</td>
								<td id='rfpower_4_0'></td>
								<td id='rfpower_4_1'></td>
								<td id='rfpower_4_2'></td>
								<td id='rfpower_4_3'></td>
								<td id='rfpower_4_4'></td>
								<td id='rfpower_4_5'></td>
								<td id='rfpower_4_6'></td>
								<td id='rfpower_4_7'></td>
								<td id='rfpower_4_8'></td>
								<td id='rfpower_4_9'></td>
								<td id='rfpower_4_10'></td>
								<td id='rfpower_4_11'></td>
							</tr>
							<tr>
								<td>turf 6</td>
								<td id='rfpower_5_0'></td>
								<td id='rfpower_5_1'></td>
								<td id='rfpower_5_2'></td>
								<td id='rfpower_5_3'></td>
								<td id='rfpower_5_4'></td>
								<td id='rfpower_5_5'></td>
								<td id='rfpower_5_6'></td>
								<td id='rfpower_5_7'></td>
								<td id='rfpower_5_8'></td>
								<td id='rfpower_5_9'></td>
								<td id='rfpower_5_10'></td>
								<td id='rfpower_5_11'></td>
							</tr>
							<tr>
								<td>turf 7</td>
								<td id='rfpower_6_0'></td>
								<td id='rfpower_6_1'></td>
								<td id='rfpower_6_2'></td>
								<td id='rfpower_6_3'></td>
								<td id='rfpower_6_4'></td>
								<td id='rfpower_6_5'></td>
								<td id='rfpower_6_6'></td>
								<td id='rfpower_6_7'></td>
								<td id='rfpower_6_8'></td>
								<td id='rfpower_6_9'></td>
								<td id='rfpower_6_10'></td>
								<td id='rfpower_6_11'></td>
							</tr>
							<tr>
								<td>turf 8</td>
								<td id='rfpower_7_0'></td>
								<td id='rfpower_7_1'></td>
								<td id='rfpower_7_2'></td>
								<td id='rfpower_7_3'></td>
								<td id='rfpower_7_4'></td>
								<td id='rfpower_7_5'></td>
								<td id='rfpower_7_6'></td>
								<td id='rfpower_7_7'></td>
								<td id='rfpower_7_8'></td>
								<td id='rfpower_7_9'></td>
								<td id='rfpower_7_10'></td>
								<td id='rfpower_7_11'></td>
							</tr>

				  		</tbody>
					  
					</table>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>slow</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                	</div>
                </div>
                <div class="ibox-content" >
                    <table data-sort="false" class="footable" data-page-size="20" id='slow' style="width:100%">

				  		<tbody>		
				  			
							<tr>
								<td>time</td>
								<td id='time'></td> 
							</tr>
							<tr>
								<td>evnum</td>
								<td id='evnum'></td> 
							</tr>
							<tr>
								<td>latitude</td>
								<td id='latitude'></td> 
							</tr>
							<tr>
								<td>longitude</td>
								<td id='longitude'></td> 
							</tr>
							<tr>
								<td>altitude</td>
								<td id='altitude'></td> 
							</tr>

				  		</tbody>
					  
					</table>
                </div>
                
            </div>
        </div>

        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>slow</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                	</div>
                </div>
                <div class="ibox-content" >
                    <table data-sort="false" class="footable" data-page-size="20" id='slow' style="width:100%">

				  		<tbody>		
				  			
							<tr>
								<td>time</td>
								<td id='length'></td> 
							</tr>
							<tr>
								<td>evnum</td>
								<td id='matt'></td> 
							</tr>
							<tr>
								<td>latitude</td>
								<td id='victor'></td> 
							</tr>
							<tr>
								<td>longitude</td>
								<td id='peng'></td> 
							</tr>
							<tr>
								<td>altitude</td>
								<td id='physics'></td> 
							</tr>

				  		</tbody>
					  
					</table>
                </div>
                
            </div>
        </div>


        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>avgscaler</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                	</div>
                </div>
                <div class="ibox-content" >
                    <table data-sort="false" class="footable" data-page-size="20" id='avgscaler' style="width:100%">

				  		<tbody>
				  		<th>
								<td>surf 1</td>
								<td>surf 2</td>
								<td>surf 3</td>
								<td>surf 4</td>
								<td>surf 5</td>
								<td>surf 6</td>
								<td>surf 7</td>
								<td>surf 8</td>
								<td>surf 9</td>
								<td>surf 10</td>
								<td>surf 11</td>
								<td>surf 12</td>
								
							</th>		
				  			
							<tr>
								<td>turf 1</td>
								<td id='avgscaler_0_0'></td>
								<td id='avgscaler_0_1'></td>
								<td id='avgscaler_0_2'></td>
								<td id='avgscaler_0_3'></td>
								<td id='avgscaler_0_4'></td>
								<td id='avgscaler_0_5'></td>
								<td id='avgscaler_0_6'></td>
								<td id='avgscaler_0_7'></td>
								<td id='avgscaler_0_8'></td>
								<td id='avgscaler_0_9'></td>
								<td id='avgscaler_0_10'></td>
								<td id='avgscaler_0_11'></td>
							</tr>
							<tr>
								<td>turf 2</td>
								<td id='avgscaler_1_0'></td>
								<td id='avgscaler_1_1'></td>
								<td id='avgscaler_1_2'></td>
								<td id='avgscaler_1_3'></td>
								<td id='avgscaler_1_4'></td>
								<td id='avgscaler_1_5'></td>
								<td id='avgscaler_1_6'></td>
								<td id='avgscaler_1_7'></td>
								<td id='avgscaler_1_8'></td>
								<td id='avgscaler_1_9'></td>
								<td id='avgscaler_1_10'></td>
								<td id='avgscaler_1_11'></td>
							</tr>
							<tr>
								<td>turf 3</td>
								<td id='avgscaler_2_0'></td>
								<td id='avgscaler_2_1'></td>
								<td id='avgscaler_2_2'></td>
								<td id='avgscaler_2_3'></td>
								<td id='avgscaler_2_4'></td>
								<td id='avgscaler_2_5'></td>
								<td id='avgscaler_2_6'></td>
								<td id='avgscaler_2_7'></td>
								<td id='avgscaler_2_8'></td>
								<td id='avgscaler_2_9'></td>
								<td id='avgscaler_2_10'></td>
								<td id='avgscaler_2_11'></td>
							</tr>
							<tr>
								<td>turf 4</td>
								<td id='avgscaler_3_0'></td>
								<td id='avgscaler_3_1'></td>
								<td id='avgscaler_3_2'></td>
								<td id='avgscaler_3_3'></td>
								<td id='avgscaler_3_4'></td>
								<td id='avgscaler_3_5'></td>
								<td id='avgscaler_3_6'></td>
								<td id='avgscaler_3_7'></td>
								<td id='avgscaler_3_8'></td>
								<td id='avgscaler_3_9'></td>
								<td id='avgscaler_3_10'></td>
								<td id='avgscaler_3_11'></td>
							</tr>
							<tr>
								<td>turf 5</td>
								<td id='avgscaler_4_0'></td>
								<td id='avgscaler_4_1'></td>
								<td id='avgscaler_4_2'></td>
								<td id='avgscaler_4_3'></td>
								<td id='avgscaler_4_4'></td>
								<td id='avgscaler_4_5'></td>
								<td id='avgscaler_4_6'></td>
								<td id='avgscaler_4_7'></td>
								<td id='avgscaler_4_8'></td>
								<td id='avgscaler_4_9'></td>
								<td id='avgscaler_4_10'></td>
								<td id='avgscaler_4_11'></td>
							</tr>
							<tr>
								<td>turf 6</td>
								<td id='avgscaler_5_0'></td>
								<td id='avgscaler_5_1'></td>
								<td id='avgscaler_5_2'></td>
								<td id='avgscaler_5_3'></td>
								<td id='avgscaler_5_4'></td>
								<td id='avgscaler_5_5'></td>
								<td id='avgscaler_5_6'></td>
								<td id='avgscaler_5_7'></td>
								<td id='avgscaler_5_8'></td>
								<td id='avgscaler_5_9'></td>
								<td id='avgscaler_5_10'></td>
								<td id='avgscaler_5_11'></td>
							</tr>
							<tr>
								<td>turf 7</td>
								<td id='avgscaler_6_0'></td>
								<td id='avgscaler_6_1'></td>
								<td id='avgscaler_6_2'></td>
								<td id='avgscaler_6_3'></td>
								<td id='avgscaler_6_4'></td>
								<td id='avgscaler_6_5'></td>
								<td id='avgscaler_6_6'></td>
								<td id='avgscaler_6_7'></td>
								<td id='avgscaler_6_8'></td>
								<td id='avgscaler_6_9'></td>
								<td id='avgscaler_6_10'></td>
								<td id='avgscaler_6_11'></td>
							</tr>
							<tr>
								<td>turf 8</td>
								<td id='avgscaler_7_0'></td>
								<td id='avgscaler_7_1'></td>
								<td id='avgscaler_7_2'></td>
								<td id='avgscaler_7_3'></td>
								<td id='avgscaler_7_4'></td>
								<td id='avgscaler_7_5'></td>
								<td id='avgscaler_7_6'></td>
								<td id='avgscaler_7_7'></td>
								<td id='avgscaler_7_8'></td>
								<td id='avgscaler_7_9'></td>
								<td id='avgscaler_7_10'></td>
								<td id='avgscaler_7_11'></td>
							</tr>
							


				  		</tbody>
					  
					</table>
                </div>
            </div>
        </div>


    </div>
    <button id='next' class="btn btn-primary dim"  type="button">Next event</button>
    <button id='prev' class="btn btn-primary dim"  type="button">Prev event</button>
</div>

	

	
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='inspinia/js/plugins/footable/footable.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='inspinia/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
<script>

function timeConverter(UNIX_timestamp){
  var a = new Date(UNIX_timestamp * 1000);
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getFullYear();
  var month = months[a.getMonth()];
  var date = a.getDate();
  var hour = a.getHours();
  var min = a.getMinutes();
  var sec = a.getSeconds();
  var time = month + ' ' + date + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
  return time;
}
var rfpower_range_map = $.range_map({
        '0:6600': 'blue',
        '6600:13300': 'green',
        '13300:25000:': 'red'
})
var avgscaler_range_map = $.range_map({
        '5:6': 'green',
        '6:7.5:': 'red',
        '4:5:': 'red'
})

function update_avgscaler_data($selector, new_data){
	var array_string=$selector.attr('values');
	if (array_string){
		if ((array_string.match(/,/g) || []).length > 6){
			array_string=array_string.substr(array_string.indexOf(",") + 1);
		}
		array_string=array_string+','+new_data;
	} else{
		array_string=new_data;
	}

	// $selector.attr('values', [1,1.5,4.5,6]).sparkline('html', {
	$selector.attr('values', array_string).sparkline('html', {
	    type: 'bar',
	    // zeroAxis: false,
	    colorMap: avgscaler_range_map,
	    chartRangeMin:0,
	    chartRangeMax:8
	});
}

function update_rfpower_data($selector, new_data){
	var array_string=$selector.attr('values');
	if (array_string){
		if ((array_string.match(/,/g) || []).length > 6){
			array_string=array_string.substr(array_string.indexOf(",") + 1);
		}
		array_string=array_string+','+new_data;
	} else{
		array_string=new_data;
	}

	// $selector.attr('values', ['a','b','cd','e']).sparkline('html', {
	$selector.attr('values', array_string).sparkline('html', {
	    type: 'bar',
	    colorMap: rfpower_range_map,
	    chartRangeMin:0,
	    chartRangeMax:25000
	});
}

function updatehtml(slow_times){
	$.getJSON('/api/'+ ip_db + '/slow/' + slow_times, function(data){
			$('#slow #time').html(timeConverter(data.slow.time));
			$('#slow #evnum').html(data.slow.evnum);
			$('#slow #latitude').html(data.slow.latitude);
			$('#slow #longitude').html(data.slow.longitude);
			$('#slow #altitude').html(data.slow.altitude);
			
			var rfpower_name;
			for (i = 0; i < 8; i++) { 
			    for (j = 0; j < 12; j++) { 
			    	rfpower_name='#rfpower_'+ i +'_'+ j ;
			   		update_rfpower_data($(rfpower_name),  parseInt(data.slow.avgrfpow[j][i]));
				}
			}

			var avgscaler_name;
			for (i = 0; i < 8; i++) { 
			    for (j = 0; j < 12; j++) { 
			    	avgscaler_name='#avgscaler_'+ i +'_'+ j ;
			   		update_avgscaler_data($(avgscaler_name),  Math.log(1+parseInt(data.slow.avgscaler[i][j])));
				}
			}

				
		});
}

$(document).ready(function () {
	$('.footable').footable();

	var slow_times=[];
	var i=0;
	$.getJSON('/api/' + ip_db + '/slow/times', function(data){
		slow_times=data.slow_times;
	});

	$('#connect').click(function(event) {
		$.ajax({
            url: '/api/connect/'+ ip + '/' + db
        }).done(function() {
            $.getJSON('/api/' + ip_db + '/slow/times', function(data){
				slow_times=data.slow_times;
			});
        });
		
	});
	// $('#connect').click(function(event) {

	// 	$.getJSON('/api/' + ip_db + '/slow/times', function(data){
	// 		slow_times=data.slow_times;
	// 	});
	// });
	

	$('#next').click( function(){
		if (i<slow_times.length) {
			i=i+1;
			updatehtml(slow_times[i]);
		};
	});
	$('#prev').click( function(){
		if (i>0) {
			i=i-1;
			updatehtml(slow_times[i]);
		};
	});
});

            
                    
</script>
{% endblock %}
